<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <script>
      function confirmDeletion() {
        return confirm('Are you sure you want to delete this message?');
      }
    </script>
  </head>
  <body>
    <main>
      <h2>
        <%- locals.user ? `Welcome, ${user.firstName} ${user.lastName}!` :
        'Welcome!' %>
      </h2>
      <a href="/join-the-club">JOIN THE CLUB</a>
      <form action="/log-out" method="post">
        <button type="submit">LOG OUT</button>
      </form>
      <div>
        <% if(typeof messages !== 'undefined' && messages?.length){
        messages.forEach(message => {%>
        <div>
          <h3><%= message.title%></h3>
          <p>
            <%- user?.isExclusive ? message.member.username : 'Anonymous' %>
          </p>
          <%if(user?.isExclusive){%>
          <p><%= message.time %></p>
          <%}%>
          <p><%= message.content %></p>
          <% if(user?.isAdmin){%>
          <form
            action="/message/<%=message.id%>/delete?_method=DELETE"
            method="post"
            onsubmit="return confirmDeletion()"
          >
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit">Delete</button>
          </form>
          <%}%>
          <hr />
        </div>
        <%});}%>
      </div>
    </main>
  </body>
</html>
